services:
  osspid-client:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: osspid-client
    restart: unless-stopped
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
      - ./logs:/app/logs
    networks:
      - osspid-network

networks:
  osspid-network:
    driver: bridge
